html{width:100%;height:100%;}
body{width:100%; height:100%;margin:0;}
ul li{display:inline-block; list-style:none; text-decoration:none; margin-left:1vw; margin-right:1vw;    height: 10vw;
    vertical-align: middle; line-height: 10vw;cursor:pointer;}
ul img{
width:10vw;height:auto;
}
#header{
text-align:center;
 color: #b19cca;
 font-family: 'Lora', sans-serif;
  
}
#content{
overflow:hidden;
}
#slides{
width:100%;
    height:100%;
    
}
#slides img{
width:100%;
    height:auto;
}
